*{
    //* defaults
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

$primary-greenColor:    #25c04c;// #19a83d; 
$primary-yellowColor:   #eebb2d;

.AABU-Schedule-App{
    margin-top: 60px;
    // height: 100vh;
}

.Row{
    position: relative;
    
    // border: 1px solid rgba(0, 0, 0, 0.3); //! debug

    margin: 20px;
    // display: flex;

    height: 310px;  //! adjust this so the schedule looks good even if materials at all times are full.
    width: auto;

    .Pane1{
        direction: rtl;
        overflow-y: scroll;
    }
    
    .studyPlanTree{
        direction: ltr;
        position: relative;

        // flex-basis: 50%;
        // border: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    .studentSchedule{
        margin-left: 10px;
        height: 100%;
        // flex-basis: 50%;
        // border: 1px solid rgba(0, 0, 0, 0.3);
    }
}