*{
    //* defaults
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

$primary-greenColor:  #19a83d;

.Row{
    margin: 20px;
    display: flex;
    height: 400px;

    .studyPlan{
        flex-basis: 50%;
        border: 1px solid black;
    }
    
    .studentSchedule{
        margin-left: 10px;
        flex-basis: 50%;
        border: 1px solid black;
    }

}

//? extract this style outside: belongs to => MaterialsTree.js
.materialNode{

    padding: 5px 5px;
    font-size: 10pt;

    color: #ffffff;
    background-color: $primary-greenColor;
    border-radius: 20px;
    border: none;

    &:hover{
        background-color: lightgreen;
    }

}

//? extract this style outside: belongs to => MaterialsDisplay.js
.materialsProgram{
    margin: 20px;
    height: 400px;
    border: 1px solid black;

    .materialsTable{
        display: table;
        direction: rtl;
        width: 80%;
        margin: auto;
        text-align: center;

        table-layout:fixed;
        border-collapse: collapse;

        #drop-down{
            display: inline-block;
            box-shadow: none;
            width: 90%;
        }

        th{
            height: 40px;
            background-color: $primary-greenColor;
            color: white;
            &:first-child{
              width: 10%;
            }
            &:nth-child(4){
                width: 30%;
            }
            
        }

        td{
            height: 20px;
            padding: 10px 0px;
        }

        th, td{
            border: 1px solid black;
            display: table-cell; 
            direction: ltr;
        }
    }

    tr:hover{
        background-color: rgba(151, 255, 151, 0.363);
    }
}

//? extract this style outside: belongs to => StudentSchedule.js

.studentSchedule{
    display: flex;
    table{
        display: table;
        direction: ltr;
        width: 80%;
        margin: auto;
        text-align: center;

        table-layout:fixed;
        border-collapse: collapse;

        #drop-down{
            display: inline-block;
            box-shadow: none;
            width: 90%;
        }

        th{
            height: 40px;
            background-color: $primary-greenColor;
            color: white;
        }

        td{
            height: 20px;
            padding: 10px 0px;
        }

        th, td{
            border: 1px solid black;
            display: table-cell; 
            direction: ltr;
        }
    }
}