*{
    //* defaults
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

$primary-greenColor:  #19a83d;

.Row{
    margin: 20px;
    display: flex;
    height: 400px;

    .studyPlan{
        flex-basis: 50%;
        border: 1px solid black;
    }
    
    .studentSchedule{
        margin-left: 10px;
        flex-basis: 50%;
        border: 1px solid black;
    }

}