* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.Row {
  position: relative;
  margin: 20px;
  height: 300px;
  width: auto;
}

.Row .studyPlanTree {
  position: relative;
  overflow: hidden;
}

.Row .studentSchedule {
  margin-left: 10px;
}

