* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.Row {
  margin: 20px;
  display: -webkit-box;
  display: flex;
  height: 400px;
}

.Row .studyPlan {
  flex-basis: 50%;
  border: 1px solid black;
}

.Row .studentSchedule {
  margin-left: 10px;
  flex-basis: 50%;
  border: 1px solid black;
}

