* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: calc(100% - 60px) !important;
}

#root {
  height: 100%;
}

.AABU-Schedule-App {
  margin-top: 60px;
  height: 100%;
}

.Row {
  position: relative;
  margin: 20px;
  height: 50%;
  width: auto;
}

.Row .Pane1 {
  direction: rtl;
  overflow-y: auto;
  overflow-x: auto;
}

.Row .studyPlanTree {
  direction: ltr;
  position: relative;
}

.Row .studentSchedule {
  margin-left: 10px;
  height: 100%;
}

