@import '../../../sass/app.scss';

.studyPlanTree{
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	.tree{
		border: 5px dashed rgba(255, 0, 0, 0.5);
	}
}

.materialNode{
	padding: 5px 5px;
	font-size: 10pt;

	color: #ffffff;
	background-color: $primary-greenColor;
	border-radius: 20px;
	border: none;

	&:hover{
		box-shadow: 0 0 3pt 2pt darkgreen;
	}
}

.fadingNode{
	background-color: lightgreen;
}