@import '../../../sass/app.scss';

#top-menu{
    position:   fixed;
    top:        0;
    z-index:    2;
    
    display:            flex;
    justify-content:    space-between;

    padding:            0px 5px;

    width:              100%;
    background-color:   $primary-greenColor;
    color:             white;       
    border-bottom:      5px solid $primary-yellowColor;
    
    #left-nav{
        display:          flex;
        justify-content:  space-around;
        span{
            display:      flex;
            align-items:  center;
            #title{
                margin-left: 10px;
                //font-family: $mainFont;
            }
            #logo{
                width:  36px;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 50%;
            }
        }
    }
    
    #right-nav {
        display:            flex;
        // flex-basis:         30%;
        justify-content:    space-between;
        align-items:        center;
        
        #btn{
            color:          white;
            background:     transparent;
            border:         none;
            
            padding:        0px 25px;
            border-right:    1px solid white;
            text-decoration: none;
            // font-family:     lato;
            transition: padding ease 0.5s;
            
            &:hover{
                font-weight: bold;
                // padding: 0px 40px;
            }
            &:focus {
                outline:none !important;
            }
        }
    
        :last-child{
            border: none;
        }
    }


    
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        #right-nav{
            display:    none;
        }
    }


}