@import '../../../sass/app.scss';

.studentSchedule{
	display: flex;
	height: 100%;

	.singleTable{
		// display: none;
	}

	.left-schedule, .right-schedule{
		display: none;
		margin: 5px;
	}

	table{
			display: table;
			direction: ltr;
			width: 100%;
			height: 100%;
			margin: auto;
			text-align: center;

			table-layout:fixed;
			// border-collapse: collapse;

			tr{
				height: 20px;
			}

			th{
				height: 40px;
				background-color: $primary-greenColor;
				color: white;
			}

			td{
				height: 20px;
				// margin: 10px;
				text-align: center;

				.material{  //?   Material   Card
					position: relative;

					display: flex;
					flex-flow: column nowrap;

					height: 50px;
					
					background-color: $primary-greenColor;
					color: white;

					.material-name{
						overflow: hidden;
						width:100%;
					}

					&:hover .close-btn{
							display: block;
					}

					.close-btn{
						position: absolute;
						top: 	-5px;
						right: 0px;
						
						display: none;

						margin: 2px;

						color: rgba(231, 20, 20, 0.5);

						&:hover{
							color: rgba(231, 20, 20, 1);
						}
						background-color: transparent;

						border: none;
						border-radius: 30px;
						cursor: pointer;
					}

				}
			}

			th, td{
				border: 1px solid black;
				// display: table-cell; 
				direction: ltr;
			}
	}
}