@import '../../../sass/app.scss';

.studentSchedule{
	position: absolute;
	display: flex;
	height: 100%;

	.table-info-display{
		position: absolute;
		right: 0;
		bottom: 0;

		padding: 10px;
		padding-left: 20px;

		display: flex;
		align-items: flex-end;
		flex-flow: column nowrap;
		
		border-radius: 30px 0 0 0;

		color: #fff;
		background-color: $primary-greenColor;
		z-index: 10;
	}

	.single-table, .left-schedule, .right-schedule{
		display: none;
		margin: 5px;
		height: 90%;
		
	}

	table{
			margin: auto;
			width: 100%;
			// height: 100%;
			
			text-align: center;
			direction: rtl;

			background-color: white;

			table-layout:	fixed;
			border-collapse: collapse;

			tr{
				height: 20px;
			}

			th{
				height: 40px;
				background-color: $primary-greenColor;
				color: white;
			}

			td{
				text-align: center;

				.material{  //?   Material   Card
					position: relative;

					display: flex;
					flex-flow: column nowrap;

					height: 50px;
					
					background-color: $primary-greenColor;
					color: white;
					overflow: hidden;
					.islab-badge{
						position: absolute;
						top: 	-5px;
						left: -5px;
						transform: rotate(-25deg);
					}
					.material-name{
						overflow: hidden;
						width:100%;
					}

					&:hover .close-btn {
							display: block;
					}

					.close-btn{
						position: absolute;
						top: 	-5px;
						right: 0px;
						
						display: none;

						margin: 2px;

						color: rgba(231, 20, 20, 0.5);

						&:hover{
							color: rgb(212, 40, 57);
						}
						background-color: transparent;

						border: none;
						border-radius: 30px;
						cursor: pointer;
					}

				}
			}

			th, td{
				border: 1px solid black;
				direction: ltr;
			}
	}
}